.mainCreateWod {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.containerWodSche {
  display: flex;
  justify-content: center;
}

.editWod-container {
  padding: 20px;  
}

.editForm-card {
  padding: 10px;
	margin: 10px;
  color: #fff;
	background: rgba(0, 0, 0, 0.9);
	background-clip: border-box;
	border: 0 solid rgba(235, 224, 224, 0.125);
	border-radius: 0.25rem;
}

.scheBox {
  padding: 20px;
}

.containerPicker {
  padding: 10px;
  margin: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  background-clip: border-box;
  border: 0 solid rgba(235, 224, 224, 0.125);
	border-radius: 0.25rem;
}

.exeRep-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
