body {
  margin: 20px;
  color: #1a202c;
  text-align: left;
  background-color: #ffffff;
}

.form-gen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 40px;
}

.form-group {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #aaaaaa;
  margin: 0px;
  width: 500px;
}

.bttn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn.btn-primary.btn-sm {
  margin: 5px;
  width: 100px;
  height: 40px;
}
