.mainCoach {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.coach-blockNavInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.coach-main-body {
	padding: 20px;
	display: flex;
	justify-content: center;
}

.coach-blockInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card1 {
	padding: 10px;
	margin: 10px;
  color: #fff;
	background: rgba(0, 0, 0, 0.9);
	background-clip: border-box;
	border: 0 solid rgba(235, 224, 224, 0.125);
	border-radius: 0.25rem;
}

.card2 {
	padding: 10px;
	margin: 5px;
	width: 700px;
  color: #fff;
	background: rgba(0, 0, 0, 0.9);
	background-clip: border-box;
	border: 0 solid rgba(235, 224, 224, 0.125);
	border-radius: 0.25rem;
}

.card1-body {
	flex: 1 1 auto;
	min-height: 10px;
	padding: 1rem;
}

.coachNavContainer {
	padding: 20px;
}

.coachLinkButton.coachLinkButton.coachLinkButton {
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #40403e;
	border: cornsilk;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	color: #ffffff;
}

.coachLinkButton.coachLinkButton.coachLinkButton:hover {
	background-color: white;
	color: black;
}

.coachButton.coachButton.coachButton {
	height: 40px;
	background-color: #40403e;
	border: cornsilk;
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	color: #ffffff;
}

.coachButton.coachButton.coachButton:hover {
	background-color: white;
	color: black;
}

.mb-0 {
	font-size: 16px;
}
